---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4">
    <TimeLineElement
      title="University of Georgia"
      dates="Jan 2020 - Dec 2022"
      subtitle="B.S. Computer Science"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Developer"
      subtitle="ADP"
      dates="Feb 2023 - Present"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer Intern"
      subtitle="ADP"
      dates="May 2022 - Aug 2022"
    >
      <p>
        • Created an iOS document scanner app for the Document Cloud team to
        address the growing number of remote and distributed users who can’t
        upload required documents
      </p>
      <p>
        • Enabled users to use their phone’s camera to scan documents, create PDF
        files from these scans, and upload their created PDF files
      </p>
      <p>
        • Some other notable features of the app were automatic document border
        detection, cropping and editing, PDF compression, and local file
        management
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer Intern"
      subtitle="American Express"
      dates="May 2021 - Aug 2021"
    >
      <p>
        • Designed and developed asynchronous APIs using Java and Vert.x for a
        new internal administration portal within the chaos engineering platform
      </p>
      <p>
        • Created a component with React for the aforementioned administration
        portal that streamlines an asset onboarding process
      </p>
      <p>
        • Took part in platform design discussions and applied best practices of
        software architecture to code design
      </p>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
